body {
    margin: 0;
    padding: 0;
    background-color: #54CBCA;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* Header */
header {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    margin: 30px;
    padding: 0 15px;
    box-shadow: 3px 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-items,
.social-items {
    display: flex;
    list-style-type: none;
}

.link-item a,
.social-item a {
    text-decoration-color: rgb(95, 99, 104);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    color: rgb(95, 99, 104);
}

.link-item a {
    padding: 30px;
    font-weight: 700;
}

.social-item a {
    padding: 10px;
}

.logo {
    padding-left: 30px;
    color: rgb(95, 99, 104);
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 1.4em;
}

.social-items img {
    height: 25px;
    width: 25px;
}

.social-items {
    padding-right: 30px;
}

/* Main */

.row {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.column {
    float: left;
    padding: 30px;
    height: 300px;
}

.left {
    width: 60%;
}

.right {
    width: 30%;
}